<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dtw.fellinghousemaster">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="Mob-AppKey" android:value="1efab556e6390"/>
        <meta-data android:name="Mob-AppSecret" android:value="0c55bdcbd8488ae911f95822626efa62"/>

        <meta-data android:value="59533ab9e88bad3e1400025d" android:name="UMENG_APPKEY"/>
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>

        <meta-data android:name="WEIXIN_ID" android:value=""/>

        <activity android:name=".wxapi.WXEntryActivity"
            android:exported="true"/>

        <activity android:name=".View.Main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Chart.ChartActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.Login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!--<activity android:name=".View.Regist.RegistActivity"-->
            <!--android:theme="@style/AppTheme.NoActionBar"-->
            <!--android:screenOrientation="portrait"/>-->
        <!--<activity android:name=".View.SmsCodeLogin.SmsCodeLoginActivity"-->
            <!--android:theme="@style/AppTheme.NoActionBar"-->
            <!--android:screenOrientation="portrait"/>-->
        <activity android:name=".View.Setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.Detail.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
    </application>

</manifest>